.show-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.show-title {
  background-color: skyblue;
  width: 100vw;
  font-size: 20px;
  text-align: center;
}

.comment-container {
  text-align: center;
}
.comment-title {
  background-color: skyblue;
}

.comments {
  border: dotted 1px black;
}