.signup-container {
  background-color: snow;
  height: 100vh;
  text-align: center;
}

.signup-title {
  padding-top: 90px;
  padding-bottom: 20px;
  font-family: 'arial black';
  font-size: 30px;
  color: skyblue;
}

.signup-area {
  align-items: center;
  border: 1px solid black;
  padding: 30px 0 ;
  margin: 0 199px;
  background-color: white;
  padding-bottom: 30px;
}

.field {
  margin-bottom:20px;
}

.signup-action {
margin-bottom: 20px;
}

.signup-btn {
  color: snow;
  font-family: 'arial';
  font-size: 17px;
  text-decoration: none;
  border: solid 1px dodgerblue;
  padding: 8px 10px;
  background-color: dodgerblue;
  cursor: pointer;
}